nav {
	height: 6.5rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

body.docked nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	background: white;
	z-index: 10;
}

body.docked #quick-facts {
	padding-top: 13.5rem;
}

nav .navbar-list {
	float: right;
	list-style: none;
	margin-bottom: 0;
}

nav .navbar-list .navbar-item {
	float: left;
}

nav .navbar-list .navbar-item .navbar-link {
	letter-spacing: .2rem;
	text-transform: uppercase;
	margin-right: 40px;
	line-height: 6.5rem;
	text-decoration: none;
	font-weight: 600;
}

#header {
	padding: 10rem 0;
}

#header .row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#header .header-img {
	display: none;
}

@media (min-width: 550px) {
	#header .header-img {
		display: block;
		max-width: 90%;
		height: auto;
	}
}

#quick-facts {
	padding: 7rem 0;
	text-align: center;
}

#quick-facts i {
	font-size: 7em;
	color: #bbb;
}

#contact {
	border-top: 1px solid #ddd;
	padding: 7rem 0;
}